# Dependencies
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment
.env
.env.local
.env.development
.env.test
.env.production

# Editor configs
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Build files
# dist/ - Keeping this commented as we need to publish dist folder to npm

# Logs
logs
*.log
npm-debug.log*
